header {
  text-align: right;
  padding: 10px;
  margin: 10px;
  font-family: "Arial";
  font-style: italic;
  font-size: 20px;
  color: black;
  }

  a {
    color: black;
  }

header a:link{
  text-decoration: none;
}

header :hover{
    color: pink;
    background-color: tan;
}

body {
  background-color: white; 
}

@media (min-width: 753px) {


.menu {
  font-style: italic;
  width: 100%;
  margin: auto;
  display: flex; 
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  list-style: none;
  font-size: 30px; 
  line-height: 60px;
  font-family: "Arial";
  border-radius: 20px; 
  background-color: white;
}

}
.menu a {
  color: pink;
  text-decoration: none;
}

.menu a:hover {
  background-color: tan;
  color: white; 
}

@media (max-width: 753px) {

  .menu {
    display: none;
  }

}

.bg-image{
  background-image: url("bojack.png"); 
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.contact {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  justify-content: space-around;
}

ul {
  text-align: center;
}

.contact li {
  margin: auto;
  float: center;
  text-align: center;
  display: flex;
  padding: 10px;
  text-align: center;
  display: inline-block;
  justify-content: space-around; 
  background-color: pink;
  width: 150px;
  margin-top: 50px;
}


@media (max-width: 753px) {

.dropdown {
    position: relative;
    min-width: 50%;
    margin: auto;
    text-align: center;
    display: table;
    opacity: 0.7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    background-color: pink;
    font-size: 30px;
    font-family: "Arial";
    padding: 10px;
    border-radius: 10px;

}

}

.dropdown-content {
  border: 10px;
    border-color: black;
    background: white;
    display: none;
    text-align: center;
    position: absolute;
    min-width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (min-width: 753px) {

  .dropdown {
    display: none;
  }
}

.contact li a {
  color: black; 
  text-decoration: none;
  display: block;/
  width: 100%;
}

.contact li a:hover{
    color: pink;
    background-color: tan;
}

@keyframes colorchange {
    from {background-color: pink;}
    to {background-color: tan;}
}

@media (max-width: 753px) {

.box{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5);
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: "Arial";
  font-weight: bold;
  width: 50%;
  padding: 10%;
  font-size: 35px;
  animation-duration: 3s;
  animation-name: colorchange;
  animation-iteration-count: infinite;
}

}

@media (min-width: 753px) {

  .box{
    display: none;
  }

}

section {
  background-color: white;
}

header {
  text-align: right;
  padding: 10px;
  margin: 10px;
  font-family: "Arial";
  font-style: italic;
  font-size: 20px;
  color: black;
  }

  a {
    color: black;
  }

header a:link{
  text-decoration: none;
}

header :hover{
    color: pink;
    background-color: tan;
}

body {
  background-color: white; 
}

@media (min-width: 753px) {


.menu {
  font-style: italic;
  width: 100%;
  margin: auto;
  display: flex; 
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  list-style: none;
  font-size: 30px; 
  line-height: 60px;
  font-family: "Arial";
  border-radius: 20px; 
  background-color: white;
}

}
.menu a {
  color: pink;
  text-decoration: none;
}

.menu a:hover {
  background-color: tan;
  color: white; 
}

@media (max-width: 753px) {

  .menu {
    display: none;
  }

}

.bg-image{
  background-image: url("bojack.png"); 
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.contact {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  justify-content: space-around;
}

ul {
  text-align: center;
}

.contact li {
  margin: auto;
  float: center;
  text-align: center;
  display: flex;
  padding: 10px;
  text-align: center;
  display: inline-block;
  justify-content: space-around; 
  background-color: pink;
  width: 150px;
  margin-top: 50px;
}


@media (max-width: 753px) {

.dropdown {
    position: relative;
    min-width: 50%;
    margin: auto;
    text-align: center;
    display: table;
    opacity: 0.7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    background-color: pink;
    font-size: 30px;
    font-family: "Arial";
    padding: 10px;
    border-radius: 10px;

}

}

.dropdown-content {
  border: 10px;
    border-color: black;
    background: white;
    display: none;
    text-align: center;
    position: absolute;
    min-width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (min-width: 753px) {

  .dropdown {
    display: none;
  }
}

.contact li a {
  color: black; 
  text-decoration: none;
  display: block;
  width: 100%;
}

.contact li a:hover{
    color: pink;
    background-color: tan;
}

.box{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5);
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: "Arial";
  font-weight: bold;
  width: 50%;
  padding: 10%;
  font-size: 35px;
  animation-duration: 3s;
  animation-name: colorchange;
  animation-iteration-count: infinite;
}

}

section {
  background-color: white;
}

.box1 {
  margin: auto;
  background-color: white;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
  width: 75%;
  padding: 5%;
  font-size: 50px;
  color: black;
  height: 10px;
}

.bio {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  justify-content: space-around;
}

.bio li{
  margin: auto;
  float: center;
  text-align: center;
  display: flex;
  padding: 10px;
  text-align: center;
  display: inline-block;
  justify-content: space-around; 
  width: 150px;
  margin-top: 50px;
}

.bio img{
  border-radius: 10px;
}

.box2 {
  border-radius: 10px;
  background-color: #ffdb58;
  color: black;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
  margin: auto;
  width: 10%;
  height: 10%; 
  display: flex;
  justify-content: space-around;
  padding: 50px;
  text-align: center;
  list-style: none;
  font-size: 15px; 
  line-height: 50px;
}

.bio2 {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  justify-content: space-around;
}

.bio2 li{
  margin: auto;
  float: center;
  text-align: center;
  display: flex;
  padding: 10px;
  text-align: center;
  display: inline-block;
  justify-content: space-around; 
  width: 150px;
  margin-top: 50px;
}

.bio2 img{
  border-radius: 10px;
}

.box3 {
  border-radius: 10px;
  background-color: #ffdb58;
  color: black;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
  margin: auto;
  width: 10%;
  height: 10%; 
  display: flex;
  justify-content: space-around;
  padding: 50px;
  text-align: center;
  list-style: none;
  font-size: 15px; 
  line-height: 50px;
}


.bio3 {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  justify-content: space-around;
}

.bio3 li{
  margin: auto;
  float: center;
  text-align: center;
  display: flex;
  padding: 10px;
  text-align: center;
  display: inline-block;
  justify-content: space-around; 
  width: 150px;
  margin-top: 50px;
}

.bio3 img{
  border-radius: 10px;
}

.box4 {
  border-radius: 10px;
  background-color: #ffdb58;
  color: black;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
  margin: auto;
  width: 10%;
  height: 10%; 
  display: flex;
  justify-content: space-around;
  padding: 50px;
  text-align: center;
  list-style: none;
  font-size: 15px; 
  line-height: 50px;
}



